In [194]:
import numpy as np
import pandas as pd

In [195]:
df = pd.read_csv('Week1_GA_dataset1.1.csv')

In [196]:
#Answer to Q1
(df == '?').sum().sum()

np.int64(1823)

In [197]:
#Answer to Q2
df.shape

(10000, 12)

In [198]:
df = df.replace('?', np.nan,)

In [199]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               10000 non-null  object
 1   Year               10000 non-null  int64
 2   Locality           8747 non-null   object
 3   Estimated Value    8757 non-null   float64
 4   Sale Price         10000 non-null  float64
 5   Property           8177 non-null   object
 6   Residential        10000 non-null  object
 7   num_rooms          10000 non-null  int64
 8   num_bathrooms      10000 non-null  int64
 9   carpet_area        8771 non-null   float64
 10  property_tax_rate  10000 non-null  float64
 11  Face               10000 non-null  object
dtypes: float64(4), int64(3), object(5)
memory usage: 937.6+ KB

In [200]:
df.isna().sum()

Date                    0
Year                    0
Locality             1253
Estimated Value      1243
Sale Price              0
Property             1823
Residential             0
num_rooms               0
num_bathrooms           0
carpet_area          1229
property_tax_rate       0
Face                    0
dtype: int64

In [201]:
#Answer to Q3
df.iloc[692,0]

'2009-11-16'

In [202]:
#Answer to Q4
df.iloc[546,7]

np.int64(3)

In [203]:
#Answer to Q5
df['Locality'].unique()

array(['Waterbury', 'Bridgeport', 'Greenwich', 'Norwalk', nan,
       'Fairfield', 'West Hartford', 'Stamford'], dtype=object)

In [204]:
#Answer to Q6 and Q7
df.isna().sum()

Date                    0
Year                    0
Locality             1253
Estimated Value      1243
Sale Price              0
Property             1823
Residential             0
num_rooms               0
num_bathrooms           0
carpet_area          1229
property_tax_rate       0
Face                    0
dtype: int64

In [ ]:
#Answer to Q8
row_na = df.isna().sum(axis=1)
df[row_na <= 2].shape[0]

9917

In [207]:
#Answer to Q9
df.dropna(inplace=True)
df.shape[0]

5449