In [27]:
import pandas as pd
import numpy as np

In [28]:
df = pd.read_csv('Week1_GA_dataset1.2.csv')

In [29]:
df.shape

(10000, 12)

In [30]:
df1 = df.iloc[::2, :]
df1.shape

(5000, 12)

In [48]:
#Answer to Q1
df1.iloc[0,3]

np.float64(111440.0)

In [50]:
#Answer to Q2
df1.iloc[332,3]

np.float64(256200.0)

In [33]:
df3 = df.iloc[:, 1::2]

In [51]:
#Answer to Q3
df2 = df.iloc[1::2, :]      
df2.iloc[332,3]

np.float64(352940.0)

In [52]:
#Answer to Q4
df3.iloc[100,5]

'West'

In [36]:
df_er_ec = df.iloc[::2, ::2]

In [53]:
#Answer to Q5
df_er_ec.iloc[255,3]

'Detached House'

In [38]:
df['Year'].dtype

dtype('int64')

In [54]:
#Answer to Q6
df_6yrs = sorted(df['Year'].unique())[-6:]
recent_years = df['Year'].isin(df_6yrs).sum()
recent_years

np.int64(4749)

In [40]:
num_bath = (df['num_bathrooms'] == 3)
num_bath.sum()

np.int64(3033)

In [41]:
num_room = (df['num_rooms'] == 3)
num_room.sum()

np.int64(8288)

In [55]:
#Answer to Q7
room_bath = num_room & num_bath
room_bath.sum()

np.int64(2730)

In [56]:
#Answer to Q8
room_or_bath = num_room | num_bath
room_or_bath.sum()

np.int64(8591)

In [57]:
#Answer to Q9
green_locality = ((df['Year'] == 2022) & (df['Locality'] == 'Greenwich') & (df['num_rooms'] == 3) & (df['Face'].isin(['North', 'East'])))
green_locality.sum()

np.int64(42)

In [58]:
#Answer to Q10
august = pd.to_datetime(df['Date']).dt.month == 8
august.sum()

np.int64(1050)

In [59]:
#Answer to Q11
avg_sales_price = df.groupby('Locality')['Sale Price'].mean()
avg_sales_price.round(2).sort_values(ascending=False)

Locality
Greenwich        2270223.54
Fairfield         727722.48
Stamford          630531.28
Norwalk           559095.87
West Hartford     338547.17
Bridgeport        174095.34
Waterbury         106215.16
Name: Sale Price, dtype: float64